{%extends 'base.html'%}
{%block start%}
<form class='col-4 mx-auto card p-3 shadow-lg' method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    <h2>Register</h2>
    <hr>
    <div class="alert alert-primary" role="alert">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First name</label>
      <input type="text" class="form-control" name='first_name' id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Last name</label>
      <input type="text" class="form-control" name='last_name' id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User name</label>
      <input type="text" class="form-control" name='username' id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name='password' class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p> Already registered <a href='/login'>login</a></p>
  </form>
{%endblock%}